<!--
  This template loads for the 'tab.about' state (app.js)
-->

<ion-view title="About Clock Maintenance Ionic">
  <ion-content class="has-header padding">
    <img ng-src="img/unm_it_logo_transparent.png" class="ionic-logo">
    <p>Enabling mobile management of Lobotime devices.</p>
    <p>
      Questions? Hit up the
      <a href="#" target="_blank">forum</a>.
    </p>
    <p>
      Find a bug? Create an
      <a href="#" target="_blank">issue</a>.
    </p>
    <p>What to help improve cm-ionic? <a href="#" target="_blank">Contribute</a>.</p>
    <p>
      UNM Licensed. Happy Timekeeping.
    </p>
  </ion-content>
</ion-view>
