<ion-view title="Account">

  <ion-content class="has-header padding">

    <form>

      <div class="list">
        <div class="item item-divider">Profile</div>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Name:</span>
          <input type="text" name="name" ng-model="profile.name" placeholder="Name" />
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Email:</span>
          <p>{{profile.email}}</p>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Last Login Date:</span>
          <p>{{profile.lastLogin| date: 'medium'}}</p>
        </label>
      </div>

    </form>

    <form>

      <div class="item item-divider">Change Password</div>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Old Password:</span>
          <input type="password" ng-keypress="clear()" ng-model="oldpass" placeholder="Old Password" />
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">New Password:</span>
          <input type="password" ng-keypress="clear()" ng-model="newpass"  placeholder="New Password" />
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Confirm New Password:</span>
          <input type="password" ng-keypress="clear()" ng-model="confirm" placeholder="Confirm"/>
        </label>

        <button class="button button-large" ng-click="changePassword(oldpass, newpass, confirm)">Change password</button>

        <p class="error" ng-show="err">{{err}}</p>
        <p class="good" ng-show="msg">{{msg}}</p>
      </div>

    </form>

    <form>

      <div class="item item-divider">Change Email</div>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">New Email:</span>
          <input type="text" ng-keypress="clear()" ng-model="newEmail" placeholder="New Email"/>
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Password:</span>
          <input type="password" ng-keypress="clear()" ng-model="pass" placeholder="Password"/>
        </label>

        <button class="button button-large" ng-click="changeEmail(pass, newEmail)">Update Email</button>

        <p class="error" ng-show="emailerr">{{emailerr}}</p>
        <p class="good" ng-show="emailmsg">{{emailmsg}}</p>
      </div>

    </form>

    <button class="button button-large" ng-click="logout()">Log Out</button>

  </ion-content>

</ion-view>