<!--
  This template loads for the 'tab.add-newClock' state (in app.js)

-->
<ion-pane ng-controller="addClockCtrl">
  <header class="bar bar-header bar-positive">
    <div class="buttons">
      <a class="button button-positive icon ion-arrow-left-b" ng-href="#/tab/clocks"> Back</a>
    </div>
    <h1 class="title">Add a New Clock</h1>
  </header>
  <ion-content class="has-header">
    <div class="list">
      <form ui-keypress="{13:'addClock(newclock)'}">
        <div class="item item-divider">
          Device Identifiers
        </div>
      <label class="item item-input">
        <span class="input-label">Lobotime<br />Device ID</span>
        <input type="number" ng-model="newClock.lobotimeDeviceId"placeholder="123456" />
      </label>
      <label class="item item-input">
        <span class="input-label">Clock Status</span>
        <input type="text" ng-model="newClock.clockStatus" placeholder="New" />
      </label>
      <label class="item item-input">
        <span class="input-label">Serial<br />Number</span>
        <input type="text" ng-model="newClock.serialNumber" placeholder="A123BCD" />
      </label>
      <label class="item item-input">
        <span class="input-label">UNM Asset<br />Tag</span>
        <input type="text" ng-model="newClock.unmAssetTag" placeholder="CC1234" />
      </label>
      <div class="item item-divider">
        Location
      </div>
      <label class="item item-input">
        <span class="input-label">UNM<br />Building<br />Label</span>
        <input type="text" ng-model="newClock.unmBuildingLabel" />
      </label>
      <label class="item item-input">
        <span class="input-label">Building<br />Number</span>
        <input type="text" ng-model="newClock.buildingNumber" />
      </label>
      <label class="item item-input">
        <span class="input-label">Room</span>
        <input type="text" ng-model="newClock.room" />
      </label>
<div class="item item-divider">
          Network
        </div>
        <label class="item item-input">
          <span class="input-label">IP 4 Address</span>
          <input type="text" ng-model="newClock.ip4Address" placeholder="127.0.0.1" />
        </label>
        <label class="item item-input">
          <span class="input-label">IP 4 Gateway</span>
          <input type="text" ng-model="newClock.ip4Gateway" placeholder="127.0.0.1" />
        </label>
        <label class="item item-input">
          <span class="input-label">IP 4 Subnet<br />Mask</span>
          <input type="text" ng-model="newClock.ip4SubnetMask" placeholder="255.255.255.0" />
        </label>
        <label class="item item-input">
          <span class="input-label">MAC<br />Address</span>
          <input type="text" ng-model="newClock.macAddress" placeholder="0A.1B.2C.3D.4E.5F" />
        </label>
        <label class="item item-input">
          <span class="input-label">Patch Panel</span>
          <input type="text" ng-model="newClock.patchPanelName" />
        </label>
        <label class="item item-input">
          <span class="input-label">Rack Name</span>
          <input type="text" ng-model="newClock.rackName" />
        </label>
        <div class="item item-divider">
          Deployed In
        </div>
        <ion-toggle ng-model="newClock.inProduction">Production</ion-toggle>
        <ion-toggle ng-model="newClock.inTest">Test</ion-toggle>
        <ion-toggle ng-model="newClock.inDevelopment">Development</ion-toggle>
        <button class="button button-positive button-block" type="submit" ng-click="addClock(newClock)">Add Clock</button>
      </form>
    </div>
  </ion-content>
</ion-pane>