<ion-view title="Change Password">

  <ion-content class="has-header padding">

    <form ng-submit="doChangePassword()">
      <div class="list">
        
        <label class="item item-input">
          <span class="input-label">UNM Email</span>
          <input type="text" ng-model="changeData.email">
        </label>

        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="changeData.password">
        </label>

        <label class="item item-input">
          <span class="input-label">Verify Password</span>
          <input type="password" ng-model="changeData.verifyPassword">
        </label>

        <button class="button button-block button-positive" type="submit">
          Change Password
        </button>

      </div>
    </form>

  </ion-content>

</ion-view>