<ion-view title="List of Clocks">

  <ion-content class="has-header">

    <ion-nav-buttons side="left">
      <button class="button button-icon ion-ios7-minus-outline"
              ng-click="data.showDelete = !data.showDelete"></button>
    </ion-nav-buttons>

    <ion-list show-delete="data.showDelete">

      <ion-item class="item item-thumbnail-left item-text-wrap" ng-repeat="clock in clocks| orderBy: description"
                ng-href="#/tab/clock/{{clock.$id}}" type="item-text-wrap">

        <img ng-src="{{clock.devicePicture}}" alt="Device Picture" />
        <h2>{{clock.description}}</h2>
        <p>Lobotime Device ID: {{clock.lobotimeDeviceId}}, $id: {{clock.$id}}, $priority: {{clock.$priority}} Model: {{clock.model}}<br />
          Location: {{clock.unmBuildingLabel}}, Bldg {{clock.buildingNumber}}, Rm {{clock.room}}<br />
          Status: {{clock.clockStatus}}<br />
          Help.UNM Open: {{clock.unmTickets.length | number}}<br />
          Vendor Tickets: {{clock.vendorTickets.length | number}}</p>
        <ion-delete-button class="ion-minus-circled"
                           ng-click="clocks.$remove(clock.$id)">
        </ion-delete-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>