<ion-view title="Clock Details">

  <ion-content class="has-header padding">
    <div class="list">
      <div class="item item-divider">
        Device Identifiers
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label">Clock Description</span>
        <input type="text" ng-model="clock.description" placeholder="Description" />
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Clock Model</span>
        <input type="text" ng-model="clock.model" placeholder="Model" />
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Lobotime Device ID</span>
        <input type="number" ng-model="clock.lobotimeDeviceId" placeholder="lobotimeDeviceId" />
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Clock Status</span>
        <input type="text" ng-model="clock.clockStatus" placeholder="clockStatus" />
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Serial Number</span>
        <input type="text" ng-model="clock.serialNumber" placeholder="serialNumber" />
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Part Number</span>
        <input type="text" ng-model="clock.partNumber" placeholder="partNumber" />
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Current Firmware Version</span>
        <input type="text" ng-model="clock.newFirmwareVersion" placeholder="Current Firmware Version" />
        <button class="button button-icon ion-ios7-more"> History</button>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">UNM Asset Tag</span>
        <input type="text" ng-model="clock.unmAssetTag" placeholder="unmAssetTag" />
      </label>
      <div class="item item-divider">
        Location
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label">UNM Building Label</span>
        <input type="text" ng-model="clock.unmBuildingLabel" placeholder="unmBuildingLabel" />
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Building Number</span>
        <input type="text" ng-model="clock.buildingNumber" placeholder="buildingNumber" />
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Room</span>
        <input type="text" ng-model="clock.room" placeholder="room" />
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Vendor Building Label</span>
        <input type="text" ng-model="clock.vendorBuildingLabel" placeholder="vendorBuildingLabel" />
      </label>
      <label class="item">
        <span class="input-label">Device Picture</span>
        <img ng-src="{{clock.devicePicture}}" alt="{{clock.devicePicture}}" class="row responsive-sm" />
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Latitude</span>
        <input type="number" ng-model="clock.latitude" placeholder="latitude" />
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Longitude</span>
        <input type="number" ng-model="clock.longitude" placeholder="longitude" />
      </label>
      <div class="item item-divider">
        Network
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label">IP 4 Address</span>
        <input type="text" ng-model="clock.ip4Address" placeholder="ip4Address" />
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">IP 4 Gateway</span>
        <input type="text" ng-model="clock.ip4Gateway" placeholder="ip4Gateway" />
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">IP 4 Subnet Mask</span>
        <input type="text" ng-model="clock.ip4SubnetMask" placeholder="ip4SubnetMask" />
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">IP 6 Address</span>
        <input type="text" ng-model="clock.ip6Address" placeholder="ip6Address" />
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">IP 6 Gateway</span>
        <input type="text" ng-model="clock.ip6Gateway" placeholder="ip6Gateway"/>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">IP 6 Subnet Mask</span>
        <input type="text" ng-model="clock.ip6SubnetMask" placeholder="ip6SubnetMask"/>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">MAC Address</span>
        <input type="text" ng-model="clock.macAddress" placeholder="macAddress"/>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Patch Panel</span>
        <input type="text" ng-model="clock.patchPanelName" placeholder="patchPanelName">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Rack Name</span>
        <input type="text" ng-model="clock.rackName" placeholder="rackName">
      </label>
      <div class="item item-divider">
        Administration Passwords
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label">Maintenance Password</span>
        <input type="text" ng-model="clock.maintenancePassword" placeholder="maintenancePassword">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Manager Password</span>
        <input type="text" ng-model="clock.managerPassword" placeholder="managerPassword">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Remote Password</span>
        <input type="text" ng-model="clock.remotePassword" placeholder="remotePassword">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Superuser Password</span>
        <input type="text" ng-model="clock.superUserPassword" placeholder="superUserPassword">
      </label>
      <div class="item item-divider">
        Deployment Stage
      </div>
      <ion-toggle ng-model="clock.inProduction"
                  ng-true-value="true"
                  ng-false-value="false">
        In Production
      </ion-toggle>
      <ion-toggle ng-model="clock.inTest"
                  ng-true-value="true"
                  ng-false-value="false">
        In Test
      </ion-toggle>
      <ion-toggle ng-model="clock.inDevelopment"
                  ng-true-value="true"
                  ng-false-value="false">
        In Development
      </ion-toggle>
      <label class="item item-input item-floating-label">
        <span class="input-label">Notes</span>
        <textarea rows="5" class="item-text-wrap" ng-model="clock.notes" placeholder="A place for notes..."></textarea>
      </label>
      <!--      <div class="row">
              <div class="col">Last Updated</div>
              <div class="col">{{clock.lastUpdated| date}}</div>
            </div>
            <div class="row">
              <div class="col">Created</div>
              <div class="col">{{clock.created| date}}</div>
            </div>-->
    </div>
    <p><a class="button button-positive icon ion-arrow-left-b" href="#/tab/clocks"> Back</a></p>
  </ion-content>
</ion-view>