<div class="tags-wrapper">
  <div id="tagsList" class="tags-cloud">
    <div ng-repeat="selectedTag in selectedTags" class="tag">
      <span class="tagName">{{selectedTag}}</span>
      <span>&nbsp;<b ng-click="removeTag($index)" class="fa fa-times cross"></b></span>
    </div>
    <input type="text" placeholder="Start typing" id="searchInput"
           ng-keydown="checkKeyDown($event)" class="form-control"
           ng-model="searchText" ng-change="search()"/>
  </div>
  <ul id="suggestions" class="suggestions-list">
    <li ng-repeat="suggestion in suggestions" class="blockSpan"
        ng-click="addToSelectedTags($index)" ng-mouseover="$parent.selectedIndex = $index"
        ng-class="{active : selectedIndex === $index}">{{suggestion}}</li>
  </ul>
</div>