<ion-view title="Login">

  <ion-content class="has-header padding">

    <form ng-submit="login(email, pass)">
      <div class="list">

        <label class="item item-input item-floating-label">
          <span class="input-label">UNM Email</span>
          <input type="text" ng-model="email" placeholder="Email">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" ng-model="pass" placeholder="Passw0rd">
        </label>

        <button class="button button-block button-positive" type="submit">
          Log in
        </button>

      </div>
      <p ng-show="err" class="error">{{err}}</p>
    </form>

  </ion-content>

</ion-view>