<ion-view title="Reset Password">

  <ion-content class="has-header padding">

    <form ng-submit="doResetPassword()">
      <div class="list">

        <label class="item item-input">
          <span class="input-label">UNM Email</span>
          <input type="text" ng-model="resetData.email">
        </label>

        <button class="button button-block button-positive" type="submit">
          Reset Password
        </button>

      </div>
    </form>

  </ion-content>

</ion-view>