<ion-view title="Dashboard">

  <ion-content class="has-header">

    <ion-list>
      <ion-item ng-repeat="coin in coins">
        <div class="item-divider">
          {{coin.$id| uppercase}}
        </div>
        <div class="item-text-wrap">
          <b>Last:</b> ${{coin.last}}<br />
          Ask&nbsp;: ${{coin.bid}}<br />
          Bid&nbsp;: ${{coin.ask}}<br />
        </div>
        <div class="item-divider">
          <div class="row">{{coin._updated| date}}</div>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
