<ion-tabs class="tabs-icon-top">

  <!-- Clocks Tab -->
  <ion-tab title="Clocks" icon="icon ion-home" href="#/tab/clocks">
    <ion-nav-view name="clocks-tab"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon="icon ion-gear-a" href="#/tab/account">
    <ion-nav-view name="account-tab"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="About" icon="icon ion-help" href="#/tab/about">
    <ion-nav-view name="about-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
