<!DOCTYPE html>
<html ng-app="cm-ionic" ng-cloak>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Clock Maintenance Ionic</title>

    <!-- ionic css -->
    <link href="lib/ionic/css/ionic.min.css" rel="stylesheet" />

    <!-- app css -->
    <link href="css/app.css" rel="stylesheet" />

    <!-- Ionic and angularjs scripts -->
    <script src="lib/ionic/js/ionic.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/ionic/js/ionic-angular.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <!-- angular-touch conflicts with ionic-beta13 functionality as of 2014-10-13 -->
    <!--<script src="lib/angular-touch/angular-touch.js"></script>-->


    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/firebase-simple-login/firebase-simple-login.js"></script>
    <script src="lib/angularfire/dist/angularfire.js"></script>

    <!-- cordova script -->
    <script src="cordova.js"></script>

    <!-- your app's script -->
    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/ui-routes.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/decorators.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>
    <script src="js/firebase.utils.js"></script>
    <script src="js/simpleLogin.js"></script>
    <script src="js/changeEmail.js"></script>
    <script src="js/stateSecurity.js"></script>
  </head>

  <!--
    'cm-ionic' is the name of this angular module (js/app.js)
  -->
  <body>
    <!--
    The nav bar that will be updated as we navigate between views
    Additional attributes set its look, nav-bar animation and icons
    Icons provided by Ionicons: http://ionicons.com/
    -->
  <ion-nav-bar class="bar-positive" align-title="center">
    <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
      Back
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <!--<a class="button icon ion-log-in button-icon" href="#/login" ng-hide-auth title="Login"></a>-->
      <!--<a class="button icon ion-person button-icon" href="#/tab/account" ng-show-auth title="Account"></a>-->
      <a class="button icon ion-log-out button-icon" ng-click="logout()" ng-show-auth title="Log Out"></a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <!--
    The views will be rendered in the <nav-view> directive below
    Templates are in the /templates folder (but you could also
    have templates inline in this html file if you'd like).
  -->
  <ion-nav-view></ion-nav-view>
</body>
</html>
